# Node
node_modules/
dist/
.cache/
.env
*.log

# macOS
.DS_Store

# Sanity Studio
.next/

# Build files
dist/
*.js
!src/**/*.js   # optional: keep source .js but ignore compiled ones

# Do not publish dev files to npm
dev/